.create-ticket-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1a1a1cf1; 
}

.form-card-ticket {
  background-color: #20202ab4;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px; 
  padding: 20px;
  width: 100%;
  max-width: 800px;
}

.form-card-ticket h2{
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
}

.text-center-ticket {
  text-align: center;
  margin-bottom: 20px;
}

.create-ticket-form {
  display: flex;
  flex-wrap: wrap;
}

.form-group-ticket {
  flex: 1;
  min-width: 200px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.create-ticket-form label {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    color: #fff9f9;
    padding-bottom: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.create-ticket-form input {
  width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #c2b4b44b;
    border-radius: 10px;
    background-color: transparent; 
    color: #e2d8d8df;  
}

.form-buttons-ticket {
  display: flex;
  margin-top: 20px;
  width: 100%;
  margin-left: 500px;
}

.submit-ticket {
  background-color: #222425; 
  color: white; 
  padding: 12px;
  border-radius: 10px; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); 
  border: 1px solid #4b4848c5; 
  cursor: pointer;
  margin-top: 5px;
  transition: background-color 0.3s;
}

.button-ticket {
  background-color: #222425; 
  color: white; 
  padding: 12px;
  border-radius: 10px; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); 
  border: 1px solid #4b4848c5; 
  cursor: pointer;
  margin-top: 5px;
  transition: background-color 0.3s;
}

.submit-ticket:hover {
  background-color: rgba(2, 2, 2, 0.629); 
}

.button-ticket:hover {
  background-color: rgba(2, 2, 2, 0.629); 
}