/* LoginPage.css */
body {
  background-image: url('../images/LoginBg.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  background-color: rgba(187, 180, 180, 0.5); 
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0  10px rgba(0, 0, 0, 0.2); 
  max-width: 400px;
  width: 100%;
}

.login-container h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-form label {
  font-size: 1rem;
  color: #333;
}

.login-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-form button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #0056b3;
}
