.update-van-page {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #20202a60; 
    margin-top: 50px;
  }
  
  .form-card-update{
    padding: 30px; 
    border-radius: 0px;
    background-color: transparent; 
    border: 2px solid #3f3c3c43; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); 
    width: 100%; /* Full width */
    max-width: 800px;
  }

  .text-center {
    text-align: center;
    margin-bottom: 20px;
    color: rgb(255, 255, 255); 
  }
  
  .update-van-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }

  .btn-submit:hover {
    background-color: rgba(2, 2, 2, 0.629); 
  }
  
  .btn-cancel:hover {
    background-color: rgba(2, 2, 2, 0.629); 
  }